@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa");
/*


Variables



*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*






*/
/*


Scrollbar & ScrollTop Button



*/
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  background: #d89000;
  border-radius: 10px;
}

.scrollTop {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffaa00;
  border: none;
  -webkit-box-shadow: 5px 5px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 22px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scrollTop i {
  font-size: 2rem;
  color: #222;
}

.scrollTop:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*






*/
/*


Body



*/
body {
  /*
    background: url('/CyberHydra/media/img/Background.png') no-repeat center center fixed;
    background-size: cover;
    */
  background: -webkit-gradient(linear, left top, right top, from(#ff9700), to(#ffc000));
  background: linear-gradient(90deg, #ff9700 0%, #ffc000 100%);
  font-family: Comfortaa, sans-serif;
}

/*


Header



*/
header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-logo {
  position: relative;
  z-index: 4;
  margin: 0 20px;
}

header .header-logo img {
  width: 400px;
}

header .nav-links {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-links a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.15rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav-links a::after {
  content: '';
  position: relative;
  display: block;
  top: 10px;
  margin: auto;
  width: 0;
  height: 2px;
  background-color: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

header .nav-links a:hover::after {
  width: 100%;
}

header .header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-buttons .presupuesto a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  background-color: #222;
  color: #ffaa00;
  text-decoration: none;
  margin-right: 5rem;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .header-buttons .presupuesto a:hover {
  color: white;
  font-weight: lighter;
}

header .header-buttons .burger-mobile {
  position: relative;
  z-index: 4;
  display: none;
  cursor: pointer;
  margin: 0 20px;
}

header .header-buttons .burger-mobile .bar1,
header .header-buttons .burger-mobile .bar2,
header .header-buttons .burger-mobile .bar3 {
  width: 35px;
  height: 5px;
  background-color: #222;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header #links-mobile {
  display: none;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#ff9700), to(#ffc000));
  background: linear-gradient(90deg, #ff9700 0%, #ffc000 100%);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

header #links-mobile .links-wrapper {
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header #links-mobile .links-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #222;
  font-size: 1rem;
  text-decoration: none;
  margin: 10px 70px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header #links-mobile .links-wrapper a i {
  margin: 0 5px;
}

header #links-mobile .links-wrapper .presupuesto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #links-mobile .links-wrapper .presupuesto a {
  color: white;
  padding: 5px 20px;
  background-color: #222;
  border-radius: 15rem;
}

header #links-mobile .links-wrapper a:hover {
  color: white;
  background-color: #222;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*






*/
/*


Footer



*/
footer {
  margin-top: 40px;
}

footer img {
  width: 100%;
  height: 100px;
  margin-bottom: -5px;
}

footer .footer-wrapper {
  background-color: #222;
}

footer .footer-wrapper .footer-logo {
  padding: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper .footer-logo img {
  max-width: 30rem;
  margin: 0 20px;
}

footer .footer-wrapper .footer-socialmedia {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

footer .footer-wrapper .footer-socialmedia a {
  margin: 0 20px;
  text-decoration: none;
}

footer .footer-wrapper .footer-socialmedia a i {
  font-size: 2rem;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer-wrapper .footer-socialmedia a:hover i {
  color: #ffaa00;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

footer .footer-wrapper .lineanimation {
  overflow: hidden;
  width: 100%;
  height: 5px;
}

footer .footer-wrapper .lineanimation .line {
  width: 50vw;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 118, 190, 0)), to(#ffaa00));
  background: linear-gradient(90deg, rgba(0, 118, 190, 0) 0%, #ffaa00 100%);
  border-radius: 30px;
  -webkit-animation: line-animation 2s infinite;
          animation: line-animation 2s infinite;
}

footer .footer-wrapper .footer-copyright {
  text-align: center;
  background-color: #222;
  padding: 20px 0;
}

footer .footer-wrapper .footer-copyright p {
  color: white;
}

/*






*/
/*


Landing



*/
.landing {
  width: 100%;
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing .landing-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.landing .landing-wrapper .landing-information {
  width: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -100px;
}

.landing .landing-wrapper .landing-information .landing-info {
  width: 80%;
}

.landing .landing-wrapper .landing-information .landing-info h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: lighter;
}

.landing .landing-wrapper .landing-information .landing-info p {
  color: #fff;
  line-height: 1.6rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: lighter;
}

.landing .landing-wrapper .landing-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  margin-top: -100px;
}

.landing .landing-wrapper .landing-svg img {
  -webkit-animation: landing-svg 1s alternate infinite;
          animation: landing-svg 1s alternate infinite;
}

.landing #arrow {
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: arrow 0.5s alternate infinite;
          animation: arrow 0.5s alternate infinite;
}

.landing #arrow i {
  font-size: 2rem;
  color: white;
}

/*






*/
/*


Planes Web



*/
.wave-planes {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  margin: 0;
}

.wave-planes-rotate {
  position: relative;
  z-index: 0;
  top: -5px;
  width: 100%;
  height: 200px;
  margin: 0;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.web-planes {
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.web-planes .planes-h1 {
  position: relative;
  z-index: 2;
  color: #ffaa00;
  font-size: 2rem;
  margin-bottom: 40px;
}

.web-planes .planes-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.web-planes .planes-wrapper .plan-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}

.web-planes .planes-wrapper .plan-wrapper .plan {
  position: relative;
  z-index: 2;
  margin: 20px;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  text-align: center;
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.web-planes .planes-wrapper .plan-wrapper .plan .plan-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.web-planes .planes-wrapper .plan-wrapper .plan .plan-icon i {
  color: #ffaa00;
  font-size: 3em;
  margin: 10px;
}

.web-planes .planes-wrapper .plan-wrapper .plan .price {
  color: white;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.web-planes .planes-wrapper .plan-wrapper .plan .plan-info-icon {
  position: absolute;
  z-index: 2;
  margin-top: 350px;
  margin-left: 350px;
}

.web-planes .planes-wrapper .plan-wrapper .plan .plan-info-icon i {
  color: #ffaa00;
  font-size: 2rem;
}

.web-planes .planes-wrapper .plan-wrapper .plan h1 {
  color: #ffaa00;
}

.web-planes .planes-wrapper .plan-wrapper .plan .plan-hover {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 1rem;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  text-align: left;
}

.web-planes .planes-wrapper .plan-wrapper .plan .plan-hover p {
  margin: 20px;
  color: white;
}

.web-planes .planes-wrapper .plan-wrapper .plan:hover .plan-hover {
  opacity: 1;
}

/*






*/
/*


Sobre Nosotros



*/
.about-us-wave-top {
  width: 100%;
  height: 100px;
  margin-bottom: -5px;
}

.about-us-wave-bottom {
  width: 100%;
  height: 100px;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  margin-top: -5px;
}

.about-us-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #222;
  padding: 40px 0;
}

.about-us-wrapper .about-us-info-wrapper {
  width: 90%;
  display: -ms-grid;
  display: grid;
  margin: 20px;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
}

.about-us-wrapper .about-us-info-wrapper .logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-wrapper .about-us-info-wrapper .logo img {
  max-width: 15rem;
}

.about-us-wrapper .about-us-info-wrapper .about-us-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us-wrapper .about-us-info-wrapper .about-us-info h1 {
  color: #ffaa00;
  font-size: 2rem;
}

.about-us-wrapper .about-us-info-wrapper .about-us-info p {
  color: #fff;
  margin: 20px 0;
}

.about-us-wrapper .titulo-divisor {
  color: #ffaa00;
  margin: 20px;
  font-size: 2rem;
}

.about-us-wrapper .about-us-card-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card {
  width: 280px;
  height: 400px;
  background-color: #333;
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card .card-img {
  width: 100%;
  padding: 20px 0;
  background-color: #262626;
  border-radius: 2rem 2rem 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card .card-img img {
  position: relative;
  top: 30px;
  background-color: #333;
  padding: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 130px;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card .card-body h1 {
  color: #ffaa00;
  font-size: 1.2rem;
  margin: 5px 10px;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card .card-body p {
  color: #fff;
  font-size: 0.8rem;
  margin: 3px 0;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card .card-body .mail {
  color: #ffaa00;
  font-size: 0.8rem;
  text-decoration: none;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card .card-body .mail:hover {
  color: #777;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card .card-body-social {
  width: 100%;
  height: 100px;
  background-color: #262626;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card .card-body-social a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card .card-body-social a i {
  font-size: 2rem;
  margin: 10px;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card .card-body-social a:after {
  content: '';
  display: block;
  margin: auto;
  width: 0;
  height: 2px;
  background-color: #ffaa00;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card:hover .card-body-social {
  height: 200px;
  border-radius: 50% 50% 2rem 2rem;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card:hover .card-body-social a {
  color: #ffaa00;
}

.about-us-wrapper .about-us-card-wrapper .card-wrapper .card:hover .card-body-social a:hover::after {
  width: 100%;
}

/*






*/
/*


Contacto



*/
.contacto-wrapper {
  width: 100%;
  background-color: #222;
}

.contacto-wrapper .contacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
}

.contacto-wrapper .contacto .logo {
  padding: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto-wrapper .contacto .logo img {
  max-width: 300px;
}

.contacto-wrapper .contacto .contacto-form {
  width: 100%;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto-wrapper .contacto .contacto-form .contacto-container {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.contacto-wrapper .contacto .contacto-form .contacto-container h1 {
  color: #ffaa00;
  margin: 5px 0;
}

.contacto-wrapper .contacto .contacto-form .contacto-container p {
  color: #888;
  margin: 5px 0;
}

.contacto-wrapper .contacto .contacto-form .contacto-container .input-wrapper {
  width: 100%;
  text-align: left;
}

.contacto-wrapper .contacto .contacto-form .contacto-container .input-wrapper p {
  color: #fff;
  margin: 10px 0;
}

.contacto-wrapper .contacto .contacto-form .contacto-container .input-wrapper input, .contacto-wrapper .contacto .contacto-form .contacto-container .input-wrapper textarea {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #ffaa00;
  border-radius: 1rem;
  outline: none;
  color: #fff;
  padding: 10px;
  font-family: Comfortaa, sans-serif;
}

.contacto-wrapper .contacto .contacto-form .contacto-container .input-wrapper input:-webkit-autofill,
.contacto-wrapper .contacto .contacto-form .contacto-container .input-wrapper input:-webkit-autofill:hover,
.contacto-wrapper .contacto .contacto-form .contacto-container .input-wrapper input:-webkit-autofill:focus,
.contacto-wrapper .contacto .contacto-form .contacto-container .input-wrapper input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffaa00 !important;
}

.contacto-wrapper .contacto .contacto-form .contacto-container .input-wrapper textarea {
  padding: 10px;
  height: 200px;
  resize: none;
}

/*






*/
/*


Animations



*/
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@keyframes arrow {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes line-animation {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@keyframes line-animation {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@-webkit-keyframes landing-svg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes landing-svg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/*






*/
/*


Media



*/
@media screen and (max-width: 90rem) {
  header .nav-links {
    display: none;
  }
  header .header-buttons .presupuesto {
    position: relative;
    z-index: 3;
  }
  header .header-buttons .presupuesto a {
    margin: 0 20px;
  }
  header .header-buttons .burger-mobile {
    display: block;
  }
  header #links-mobile {
    display: block;
  }
  header #links-mobile .links-wrapper .presupuesto {
    display: none;
  }
}

@media screen and (max-width: 85rem) {
  .web-planes .planes-wrapper .plan-wrapper .plan, .web-planes .planes-wrapper .plan-wrapper .plan .plan-hover {
    width: 320px;
    height: 320px;
    margin: 10px;
  }
  .web-planes .planes-wrapper .plan-wrapper .plan .plan-info-icon, .web-planes .planes-wrapper .plan-wrapper .plan .plan-hover .plan-info-icon {
    margin-top: 270px;
    margin-left: 270px;
  }
}

@media screen and (max-width: 68rem) {
  .web-planes .planes-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .web-planes .planes-wrapper .plan-wrapper .plan, .web-planes .planes-wrapper .plan-wrapper .plan .plan-hover {
    width: 320px;
    height: 320px;
    margin: 10px;
  }
  .web-planes .planes-wrapper .plan-wrapper .plan .plan-info-icon, .web-planes .planes-wrapper .plan-wrapper .plan .plan-hover .plan-info-icon {
    margin-top: 270px;
    margin-left: 270px;
  }
}

@media screen and (max-width: 60rem) {
  .about-us-wrapper {
    padding: 0;
  }
  .about-us-wrapper .about-us-info-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-us-wrapper .about-us-info-wrapper .logo {
    width: 100%;
    margin: 20px 0;
  }
  .about-us-wrapper .about-us-info-wrapper .logo img {
    width: 50%;
  }
}

@media screen and (max-width: 50rem) {
  .contacto-wrapper .contacto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contacto-wrapper .contacto .contacto-form {
    padding: 5px;
  }
  .contacto-wrapper .contacto .contacto-form .contacto-container {
    width: 90%;
  }
  .contacto-wrapper .contacto .logo {
    display: none;
  }
  .contacto-wrapper .contacto .logo img {
    width: 200px;
  }
  header .header-logo img {
    width: 100%;
  }
  header .header-buttons .presupuesto {
    display: none;
  }
  header #links-mobile {
    display: block;
  }
  header #links-mobile .links-wrapper .presupuesto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .landing {
    display: block;
  }
  .landing .landing-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .landing .landing-wrapper .landing-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .landing .landing-wrapper .landing-information .landing-info {
    width: 90%;
    text-align: center;
  }
  .landing .landing-wrapper .landing-information .landing-info h1 {
    font-size: 2rem;
  }
  .landing .landing-wrapper .landing-information .landing-info p {
    font-size: 1rem;
  }
  .landing .landing-wrapper .landing-svg {
    display: none;
    margin-top: 100px;
  }
  .landing .landing-wrapper .landing-svg img {
    width: 60%;
  }
}

/*






*/
/*






*/
/*# sourceMappingURL=styles.css.map */